<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Character Sheet</title>

        <!-- Scripts -->
        <script type='text/javascript' src='/static/js/underscore/underscore.js'></script>
        <script type='text/javascript' src='static/js/backbone/backbone.js'></script>
        <script type="text/javascript">
            (function() {
                var d20Character = Backbone.Model.extend({});
                window.d20Character = d20Character;
            })();
        </script>
    </head>
    <body>

    </body>
</html>